extends layout

block content
  p
    b= title
  table(border=1, width='100%')
    tr
      if isLoggedIn
        td(colspan=1, id="userDetails") Hi, #{user}, welcome to stupid app"
        td(colspan=1) Fooooooo
      
      td(colspan=1, id="userDetails")
        p= isLoggedIn
        p
          input#username(placeholder='user name', value='Loretta')
        p
          input#password(placeholder='password', type='password', value='avadakedavara')
        p
          button#login bufferpuffer
    tr
      td(width="10%") &nbsp;
      td
        div
          h3 full event list
          ul
            each eventitem in eventlist ? eventlist : ['No events to participate']
              li
                p= "Match Name:" + eventitem.event_name
                p= "Type of match: " + eventitem.event_genre
                p= "Host Country: " + eventitem.event_country
                if isLoggedIn
                  button(id=eventitem.event_name) participate
      td


  script(type='text/javascript')(src='/vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript')(src='/vendor/lodash/dist/lodash.min.js')
  script(type='text/javascript')(src='javascripts/main.js')
