extends layout

block content
  p
    b= title
  table(border=1, width='100%')
    tr
      if isLoggedIn
        td(colspan=1, id="userDetails") Hi, #{user}, welcome to stupid app"
        td(colspan=1) Fooooooo
      
      td(colspan=1, id="userDetails")
        p= isLoggedIn
        p
          input(placeholder='user name', value='Loretta', name='username', id="username")
        p
          input(placeholder='password', type='password', value='avadakedavara', name="password", id="password")
        p
          button#login bufferpuffer
    tr
      td(width="10%") &nbsp;
      td
        div
          h3 full food menu list
          ul
            each eventitem in eventlist ? eventlist : ['No events to participate']
              li
                p= "Dish Name:" + eventitem.event_name
                p= "Cuisine: " + eventitem.event_genre
                p= "Dish Origin: " + eventitem.event_country
                if isLoggedIn
                  button(id=eventitem.event_name) order dish
      td


  script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/vendor/lodash/dist/lodash.min.js')
  script(type='text/javascript', src='javascripts/main.js')
